*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100dvh;
    background:linear-gradient(#444,#1a1a1a);
    color: orange;
    display:grid;
    place-items: center;
    font-family: sans-serif;
    font-size: 2rem;
}